<div class="blogs">
  <p class="welcome-content">Welcome to the tech blog! A blog for all things
    tech. Sign up today and submit your first post!</p>
  <ul>
    {{#each blogs}}
      <li>
        <div class="blog-container">
          <section class="blog-header">
            <a href="/blog/{{id}}">
              <div class="blog-title">{{this.blog_title}}</div>
            </a>
            <div class="blog-info">Posted by
              {{user.username}}
              on
              {{format_date created_at}}</div>
          </section>
          <section class="blog-content">
            {{this.blog_content}}
          </section>
          <a href="/blog/{{id}}" class="view-blog">view blog...</a>
          <a
            href="/blog/{{id}}"
            class="blog-comments-amount"
          >{{comments.length}}
            comments</a>
        </div>
      </li>
    {{/each}}
  </ul>
</div>